<div class="verified-banner" aria-label="{{ include.name | escape }}の広告" data-affiliate-service="{{ include.name | escape }}" data-affiliate-placement="article-banner">
{% case include.offer %}
{% when 'bachelor-web' %}
<a href="https://px.a8.net/svt/ejp?a8mat=4BA7XB+757EQQ+5SFC+BYDTT" rel="nofollow">
<img border="0" width="300" height="250" alt="" src="https://www20.a8.net/svt/bgt?aid=260817311432&wid=007&eno=01&mid=s00000027012002008000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www13.a8.net/0.gif?a8mat=4BA7XB+757EQQ+5SFC+BYDTT" alt="">
{% when 'bridal-tulip' %}
<a href="https://px.a8.net/svt/ejp?a8mat=4BA7XB+6Z92OY+32P0+601S1" rel="nofollow">
<img border="0" width="300" height="250" alt="" src="https://www25.a8.net/svt/bgt?aid=260817311422&wid=007&eno=01&mid=s00000014346001008000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www19.a8.net/0.gif?a8mat=4BA7XB+6Z92OY+32P0+601S1" alt="">
{% when 'bridalnet' %}
<a href="https://px.a8.net/svt/ejp?a8mat=4BA7XB+6P4PEQ+FOG+6PJZL" rel="nofollow">
<img border="0" width="300" height="250" alt="" src="https://www25.a8.net/svt/bgt?aid=260817311405&wid=007&eno=01&mid=s00000002032001127000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www12.a8.net/0.gif?a8mat=4BA7XB+6P4PEQ+FOG+6PJZL" alt="">
{% when 'akanekai' %}
<a href="https://px.a8.net/svt/ejp?a8mat=4BA7XB+6QX082+3GU6+61Z81" rel="nofollow">
<img border="0" width="300" height="250" alt="" src="https://www26.a8.net/svt/bgt?aid=260817311408&wid=007&eno=01&mid=s00000016179001017000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www11.a8.net/0.gif?a8mat=4BA7XB+6QX082+3GU6+61Z81" alt="">
{% when 'komochikon' %}
<a href="https://px.a8.net/svt/ejp?a8mat=4BA7XB+6OJ9SY+3LOM+1HMXW1" rel="nofollow">
<img border="0" width="300" height="250" alt="" src="https://www26.a8.net/svt/bgt?aid=260817311404&wid=007&eno=01&mid=s00000016807009009000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www17.a8.net/0.gif?a8mat=4BA7XB+6OJ9SY+3LOM+1HMXW1" alt="">
{% when 'toracon' %}
<a href="https://t.afi-b.com/visit.php?a=514653r-3480628N&p=i990685A" rel="nofollow"><img src="https://www.afi-b.com/upload_image/14653-1691404525-3.jpg" width="300" height="250" style="border:none;" alt="とら婚" /></a><img src="https://t.afi-b.com/lead/514653r/i990685A/3480628N" width="1" height="1" style="border:none;" />
{% when 'tsumugu' %}
<a href="https://t.afi-b.com/visit.php?a=w16435v-L533416B&p=i990685A" rel="nofollow"><img src="https://www.afi-b.com/upload_image/16435-1783865318-3.jpg" width="300" height="250" style="border:none;" alt="結婚相談所 つむぐ" /></a><img src="https://t.afi-b.com/lead/w16435v/i990685A/L533416B" width="1" height="1" style="border:none;" />
{% endcase %}
</div>